@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
	margin: 0;
	padding: 0;

}
:root {
	--tomato: tomato;
	--white: #ffffff;
	--hero_black: url("bg2.jpg");
	--black:#000000;
	--shadow_black:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	--desc:rgb(166, 166, 166);
	
}
.dark-theme{
	--white: #000000;
	--hero_black: url("bg3.jpg");
	--black:#ffffff;
	--shadow_black:rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
	--desc:rgb(65, 65, 65);
	

}
a{
	text-decoration: none;
	color: var(--white);
}

body, html {
	/* height: 100%; */
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	background: var(--white);
}
.hero{
	width: 100%;
	height: 100vh;
	background-image:var(--hero_black);
	background-position: center;
	background-size: cover;
	transition: all 0.6s;
}
.hero-text{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 80vh;
	transition: all 0.6s;
	
}

.hero-para{
	width: 70%;
	font-size: 25px;
	text-align: center;
	margin: 0.5vw auto;
	color: var(--desc);
	transition: all 0.6s;
}
.hero-head{
	font-size: 90px;
	transition: all 0.6s;
	color: var(--white);
	font-family: 'Ubuntu', sans-serif;

}

.nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	
}
.nav-list{
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
}
.nav-items{

	padding: 16px 101px;
	font-size: 22px;
}
.logo{
	margin-right: auto;
	margin-left: 11px
}
.nav>*{
	padding: 11px;
}


.btn-online{
	border: none;
	color: var(--white);
	position: relative;
	background: var(--tomato);
	padding: 15px 20px;
	font-size: 15px;
	border-radius: 10px;
	margin: 9px 25px;
	left: 22px;
	transition: all .4s;
	cursor: pointer;
	font-family: 'Noto Sans', sans-serif;
}
.btn-down{
	
	cursor: pointer;
	border: none;
	left: 13px;
	color: var(--white);
	background: var(--tomato);
	position: relative;
	padding: 15px 20px;
	font-size: 15px;
	border-radius: 10px;
	margin: 9px 25px;
	transition: all .4s;
	font-family: 'Noto Sans', sans-serif;
}
.btn-down:hover{
	background: rgb(199, 76, 54);
	  color: rgb(211, 211, 211);
	}
	.btn-online:hover{
		background: rgb(199, 76, 54);
		color: rgb(211, 211, 211);
  }
  a:active{
	  color: rgb(211, 211, 211);
	  
	}
	
	
	a:hover{
	  color: rgb(211, 211, 211);
  }
  .btndad{
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  width: 100%;
	  height: 107vh;
	 
	  
	}
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		
	}
	/* .icons{
display: flex;
justify-content: flex-start;
flex-direction: row;
align-items: flex-end;



}
.icons *{
	list-style: none;
	margin: 0px 14px;
	cursor: pointer;
} */
#icon{
	cursor: pointer;
}

.container li{
	list-style: none;
	color: var(--white);
	margin-top: 22px;
	text-transform: uppercase;
	font-size: 20px;
	margin-right:10px ;
	font-family: 'Noto Sans', sans-serif;
}
.nav-list li a{
	
	color: var(--white);
	text-decoration: none;
}
.nav-list li a:hover{
	
	color: var(--tomato);
	transition: all 0.4s;
	cursor: pointer;
	
}

.hamza{
	color: var(--tomato);
}

.container-2{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container-2 h2{
	margin-top: 40px;
	font-size: 70px;
	
	font-family: 'Noto Sans', sans-serif;
}
.intro-head{
	
	display: flex;
	align-items: center;
	justify-content:flex-start;
	width: 100%;
	color: var(--black);
	margin-bottom: 40px;
	/* border: 1px solid lightblue; */
}

.intro{
	width: 40%;
	box-shadow:var(--shadow_black) ;
	/* box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
	margin-bottom: 80px;
	margin-top: -19px;
	font-size: 22px;
	padding: 55px 65px;
	font-family: 'Ubuntu', sans-serif;
	color: var(--black);
	background: var(--white);
}
.hero-head-first{
	display: inline;
}


footer{
	background: rgba(116, 116, 116, 0.697);
	width: 100%;
	text-align: center;
	padding-top: 10px;
	font-size: 22px;
	color: aliceblue;
}

.social-list{
	
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	
}
.social-items{
	
	padding-right: 7px;
	padding-left: 7px;
}

.yt{
	position: relative;
	bottom: 4px;
}
.btn-down, .btn-online{
	border-radius: 44px;
}
.copyright{
	margin-bottom: 10px;
}

@media screen and (max-width: 1040px) {
	.nav-items{

		padding: 10px 50px;
		
	}
	.hero-head{
		font-size: 65px;

	}
	.hero-para{
		font-size: 19px;
		width: 90%;


	}
	.btn-down,.btn-online{
		padding: 12px 17px;
		margin: 6px 17px;
	}
	.container-2 h2{
		font-size: 50px;
	}
	.intro{
		font-size: 18px;
		padding: 32px 52px
	}
  }


  @media screen and (max-width: 680px) {
	.nav-items{

		padding: 10px 20px;
		
	}
	.hero-head{
		font-size: 54px;

	}
	.hero-para{
		font-size: 16px;
		width: 90%;

	}
	.btn-down,.btn-online{
		padding: 8px 14px;
		margin: 6px 15px;
	}
	.container-2 h2{
		font-size: 45px;
	}
	.intro{
		font-size: 17px;
		margin-bottom: 60px;
	
		margin-top: -13px;
		padding: 28px 46px
	}
  }


  @media screen and (max-width: 500px) {
	.nav-items{

		padding: 10px 20px;
		
	}
	.hero-head{
		font-size: 44px;

	}
	.hero-para{
		font-size: 14px;
		width: 90%;

	}
	.btn-down,.btn-online{
		padding: 8px 14px;
		margin: 6px 15px;
	}
	.container-2 h2{
		font-size: 35px;
	}
	.intro{
		font-size: 17px;
		margin-bottom: 60px;
	
		margin-top: -13px;
		padding: 19px 36px;
		width: 60%;
		
	}
  }
 
 
  @media screen and (max-width: 410px) {
	  
	.nav-items{

		padding: 8px 12px;
		
	}
	.hero-head{
		font-size: 42px;
		
		text-align: center;

	}
	.hero-head-first::after{
		
			content: "\a";
			white-space: pre;
		
	}
	.hero-head-first{
		text-align: center;
		font-size: 83px;
		
	}
	.hero-para{
		font-size: 14px;
		width: 100%;
		

	}
	.btn-online{
		margin-left: -15px;
	}
	
	.container-2 h2{
		font-size: 25px;
	}
	.intro{
		font-size: 15px;
		margin-bottom: 60px;
	
		margin-top: -22px;
		padding: 12px 26px;
		width: 60%;
		
	}
  }